.block{
    margin:10px;
    float: left;
    text-align: left;
    height:28px;
    width:900px;
}

span {
    padding:5px;
}

.block .currentPage{
    font-weight: bold;
    border: solid #0070c9 2px;
}